nav {
    background-color: #262626;
    --bs-navbar-color: #FFF;
    --bs-navbar-brand-color: #FFF;
    --bs-navbar-hover-color: #c3c3c3;
    --bs-navbar-brand-hover-color: #c3c3c3;
    --bs-navbar-toggler-icon-bg: url("../../assets/list.svg");
}

.navbar-brand {
    white-space: normal;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.btn {
    background-color: #df3227;
    border: none;
    width: 50%;
}

.btn:hover {
    background-color: #f73b2e;;
}