.footer-nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 32px;
    row-gap: 32px;
    padding: 40px 10% 0;
    background-color: var(--jet);
}

.list-title {
    font-size: 23px;
    font-weight: 700;
    line-height: 32px;
    color: #FAF5F1;
    margin-bottom: 20px;
}

.list-item {
    color: #EDE9E6;
    font-size: 15px;
    font-weight: 500;
    line-height: 26px;
}

.social-media-icons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

.endereco {
    grid-column: span 3;
}

.map {
    width: 100%;
}

.footer-span {
    padding: 30px 10px;
    text-align: center;
    background-color: var(--jet);
    display: block;
    font-family: 'Hanken Grotesk', sans-serif;
    color: #FFF;
}

@media screen and (max-width: 900px) {
    .footer-nav {
        grid-template-columns: repeat(2, 2fr);
        gap: 15px;
    }

    .social-media-icons {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 25px;
        display: flex;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 540px) {
    .footer-nav {
        padding: 20px 5%;
        grid-template-columns: repeat(1, 1fr);
        display: flex;
        flex-direction: column;
    }
}