<header class="header">
    <nav class="navbar navbar-expand-md">
        <div class="container-fluid">
            <a href="#" class="navbar-brand">
                <img src="../../../assets/logo.png" height="70" alt="Logo da ONG">
                Pavãozinho
            </a>
            <button
                class="navbar-toggler"
                type="button"
                aria-controls="navbarContent"
                [attr.aria-expanded]="!collapsed"
                aria-label="Toggle navigation"
                (click)="collapsed = !collapsed"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="navbar-collapse" [class.collapse]="collapsed" id="navbarContent">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item" ngbDropdown>
                        <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown1" role="button">Sobre</a>
                        <div ngbDropdownMenu aria-labelledby="navbarDropdown2" class="dropdown-menu dropdown-menu-end">
                            <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Quem somos</a>
                            <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Trabalhe conosco</a>
                            <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Nosso time</a>
                        </div>
                    </li>
                    <li class="nav-item" ngbDropdown>
                        <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown2" role="button">Projetos</a>
                        <div ngbDropdownMenu aria-labelledby="navbarDropdown2" class="dropdown-menu dropdown-menu-end">
                            <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Jiu-Jitsu</a>
                            <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Yoga</a>
                        </div>
                    </li>
                    <li class="nav-item" ngbDropdown>
                        <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown3" role="button">Transparência</a>
                        <div ngbDropdownMenu aria-labelledby="navbarDropdown2" class="dropdown-menu dropdown-menu-end">
                            <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Estatuto</a>
                            <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Atas</a>
                            <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Relatórios financeiros</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" tabindex="0" role="button" routerLink="/blog">Blog</a>
                    </li>
                    <a href="https://www.paypal.com/donate/?hosted_button_id=QXESBRFF9WWEL" type="button">
                      <button type="button" class="btn btn-primary btn-sm">Doar agora</button>
                    </a>
                </ul>
            </div>
        </div>
    </nav>
</header>
