<section class="section white-bg-section" style='background-color: #FAF5F1;'>
    
    <app-section-title title="Quem somos?" newColor="#262626"></app-section-title>
    
    <div>
        <app-section-paragraph class="paragraph" content="Bem-vindo à Pavão-Pavãozinho, uma ONG enraizada na comunidade do Rio de Janeiro, Brasil, comprometida em transformar vidas por meio do jiu-jítsu e yoga. Nossa missão vai além do tatame, buscamos formar caráter e inspirar futuros brilhantes."></app-section-paragraph>
        <app-section-paragraph content="Na Pavão-Pavãozinho, acreditamos no poder transformador do esporte. Oferecemos aulas de jiu-jítsu e yoga para crianças e adultos, visando não apenas o desenvolvimento físico, mas também a construção de valores sólidos. Buscamos moldar não apenas atletas habilidosos, mas cidadãos comprometidos e resilientes."></app-section-paragraph>
    </div>
</section>