<section class="section white-bg-section" style='background-color: #FAF5F1;'>
    
    <app-section-title title="Quem somos?" newColor="#262626"></app-section-title>
    
    <div>
        <app-section-paragraph class="paragraph" content="Lorem ipsum dolor sit amet consectetur adipisicing elit. Id aliquid architecto sequi exercitationem! Aspernatur, eligendi deleniti tenetur natus voluptatibus fugiat ex veritatis cupiditate facere ipsa sed provident corporis repellendus reprehenderit!"></app-section-paragraph>
        <app-section-paragraph content="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam accusamus expedita nisi eaque porro molestiae quisquam! Dignissimos perferendis amet tempore veniam vero quos, velit deserunt distinctio cupiditate excepturi voluptates delectus."></app-section-paragraph>
        <app-section-paragraph content="Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum, optio odio ad mollitia rem maxime illo. Eaque id ipsum quis laborum enim, ducimus odit ipsam. Assumenda perferendis odit ducimus unde!"></app-section-paragraph>
    </div>
</section>