<main>
    <h2 class="standard-title black-text">Programa de voluntariado</h2>
    <p class="standard-paragraph black-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim quod alias unde nihil saepe! Nihil tempora magnam quibusdam, repudiandae ducimus dolorum doloremque recusandae soluta modi? Nesciunt at sit totam pariatur!</p>
    <hr>
    <p class="standard-paragraph black-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim quod alias unde nihil saepe! Nihil tempora magnam quibusdam, repudiandae ducimus dolorum doloremque recusandae soluta modi? Nesciunt at sit totam pariatur!</p>
    <hr>
    <p class="standard-paragraph black-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim quod alias unde nihil saepe! Nihil tempora magnam quibusdam, repudiandae ducimus dolorum doloremque recusandae soluta modi? Nesciunt at sit totam pariatur!</p>
    <hr>
    <p class="standard-paragraph black-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim quod alias unde nihil saepe! Nihil tempora magnam quibusdam, repudiandae ducimus dolorum doloremque recusandae soluta modi? Nesciunt at sit totam pariatur!</p>
</main>