<main>
    <app-section-title title="Programa de voluntariado" newColor="#262626"></app-section-title>
    <app-section-paragraph
        content="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae quasi repellendus in eveniet sequi perspiciatis voluptates quibusdam corporis, libero cum saepe laudantium fugit at debitis quae iste nesciunt sint voluptatum.">
    </app-section-paragraph>
    <hr>
    <app-section-paragraph
        content="Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem excepturi iste deleniti dolorum eos maiores at laborum voluptatum voluptates quae provident molestiae recusandae minus qui omnis, quia quos officiis veniam!">
    </app-section-paragraph>
    <hr>
    <app-section-paragraph
        content="Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem excepturi iste deleniti dolorum eos maiores at laborum voluptatum voluptates quae provident molestiae recusandae minus qui omnis, quia quos officiis veniam!">
    </app-section-paragraph>
    <hr>
    <app-section-paragraph
        content="Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem excepturi iste deleniti dolorum eos maiores at laborum voluptatum voluptates quae provident molestiae recusandae minus qui omnis, quia quos officiis veniam!">
    </app-section-paragraph>
</main>