.banner-home {
    background-image: url("../../assets/home-banner.jpg");
    height: 80vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.banner-filter {
    background: rgba(38, 38, 38, 0.46);
    height: 100%;
    display: flex;
    align-items: center;
}

.banner-title {
    color: #FBF5F1;
    font-size: 50px;
    font-weight: 700;
    margin: auto;
}

@media screen and (max-width: 1000px) {
    .banner-filter {
        padding: 0 10px;
    }
}