<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img class="img-fluid rounded-start" [src]="cardContent.cover" alt="" style="width: 100%; height: 100%;">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{cardContent.title}}</h5>
                <p class="card-text">{{cardContent.description}}</p>
                <p class="card-text"><small class="text-body-secondary">Postado em: {{cardContent.postDate}}</small></p>
            </div>
        </div>
    </div>
</div>