main {
    padding: 100px 10%;
    background: #FAF5F1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 800px) {
    main {
        font-size: 18px;
    }
}