<main>
    <app-section-title title="Como doar" newColor="#262626"></app-section-title>
    <app-section-paragraph
        content="Nosso compromisso vai além do presente. Ao capacitar jovens e adultos através dessas disciplinas, aspiramos a construir não apenas praticantes dedicados, mas também profissionais no esporte. Estamos moldando o futuro, onde cada aluno tem a oportunidade de trilhar um caminho promissor.">
    </app-section-paragraph>
    <hr>
    <app-section-paragraph
        content="Junte-se a nós na jornada para cultivar caráter, habilidades e sonhos na comunidade Pavão-Pavãozinho. Juntos, estamos construindo um legado de força, resiliência e sucesso.">
    </app-section-paragraph>
    <hr>
    <div class="card" style="width: 150px;">
        <img class="card-img-top" src="../../../assets/qr-code-exemple.png" alt="">
        <div class="card-body">
            <p class="card-text">Faça a doação de qualquer valor por pix.</p>
        </div>
    </div>
</main>