<main>
    <app-section-title title="Como doar" newColor="#262626"></app-section-title>
    <app-section-paragraph
        content="Nosso compromisso vai além do presente. Ao capacitar jovens e adultos através dessas disciplinas, aspiramos a construir não apenas praticantes dedicados, mas também profissionais no esporte. Estamos moldando o futuro, onde cada aluno tem a oportunidade de trilhar um caminho promissor.">
    </app-section-paragraph>
    <hr>
    <app-section-paragraph
        content="Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem excepturi iste deleniti dolorum eos maiores at laborum voluptatum voluptates quae provident molestiae recusandae minus qui omnis, quia quos officiis veniam!">
    </app-section-paragraph>
    <hr>
    <app-section-paragraph
        content="Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem excepturi iste deleniti dolorum eos maiores at laborum voluptatum voluptates quae provident molestiae recusandae minus qui omnis, quia quos officiis veniam!">
    </app-section-paragraph>
    <hr>
    <app-section-paragraph
        content="Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem excepturi iste deleniti dolorum eos maiores at laborum voluptatum voluptates quae provident molestiae recusandae minus qui omnis, quia quos officiis veniam!">
    </app-section-paragraph>
</main>