<app-page-cover></app-page-cover>
<section id="video-institucional">
  <h2 class="standard-title"><span>Conheça o projeto! </span>Confira nossos vídeos institucionais...</h2>
  <iframe src="https://www.youtube.com/embed/ifXEaS4RkIo" title="PPJJ video" frameborder="0"
  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
  referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  <a href="https://www.youtube.com/@pavaozinhojiujitsu" target="_blank">Veja mais vídeos...</a>
</section>
<section class="white-bg" id="sobre">
    <h2 class="standard-title">Quem somos</h2>
    <div class="about-container">
        <p class="standard-paragraph black-text">Bem-vindo à Pavão-Pavãozinho, uma ONG enraizada na comunidade do Rio de Janeiro, Brasil, comprometida em transformar vidas por meio do jiu-jítsu e yoga. Nossa missão vai além do tatame, buscamos formar caráter e inspirar futuros brilhantes.</p>
        <p class="standard-paragraph black-text">Na Pavão-Pavãozinho, acreditamos no poder transformador do esporte. Oferecemos aulas de jiu-jítsu e yoga para crianças e adultos, visando não apenas o desenvolvimento físico, mas também a construção de valores sólidos. Buscamos moldar não apenas atletas habilidosos, mas cidadãos comprometidos e resilientes.</p>
    </div>
    <div class="galery-row">
      <div class="galery-container">
        <div class="row-block galery-line-2">
          <app-image url="../../assets/galeria/1.jpeg"></app-image>
          <app-image url="../../assets/galeria/2.jpeg"></app-image>
          <app-image url="../../assets/galeria/4.jpg"></app-image>
          <app-image url="../../assets/galeria/3.jpeg"></app-image>
          
        </div>
        <div class="row-block galery-line-2">
          <app-image url="../../assets/galeria/1.jpeg"></app-image>
          <app-image url="../../assets/galeria/2.jpeg"></app-image>
          <app-image url="../../assets/galeria/4.jpg"></app-image>
          <app-image url="../../assets/galeria/3.jpeg"></app-image>
        </div>
    </div>
    </div>
    <h2 class="standard-title">Resultados</h2>
    <ul class="metrics">
      <li class="metric">
        <img class="metric-icon" src="../../../assets/icons/profile-2user.svg" alt="">
        <div class="text-container">
          <p class="metric-number">+ 150</p>
          <p class="metric-title">Alunos atendidos</p>
        </div>
      </li>
      <li class="metric">
        <img class="metric-icon" src="../../../assets/icons/medal-star.svg" alt="">
        <div class="text-container">
          <p class="metric-number">+ 80</p>
          <p class="metric-title">Medalhas conquistadas</p>
        </div>
      </li>
      <li class="metric">
        <img class="metric-icon" src="../../../assets/icons/user-tag.svg" alt="">
        <div class="text-container">
          <p class="metric-number">+ 1.350</p>
          <p class="metric-title">Horas/aula de Jiu-Jitsu</p>
        </div>
      </li>
    </ul>
</section>
<section id="team">
  <div class="container-lg team-form">
    <h2 class="standard-title">Seja um voluntário!</h2>
    <form id="form-voluntario" netlify method="post" name="team-form">
      <div class="mb-3">
        <label for="inputNome" class="form-label">Nome:</label>
        <input type="text" name="inputNome" class="form-control" id="inputNome">
      </div>
      <div class="mb-3">
        <label for="inputEmail1" class="form-label">Email:</label>
        <input type="email" name="inputEmail1" class="form-control" id="inputEmail1" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label for="inputDate" class="form-label">Data de nascimento:</label>
        <input type="date" name="inputDate" class="form-control" id="inputDate">
      </div>
      <div class="mb-3">
        <label for="inputFuncao" class="form-label">Função/área desejada:</label>
        <input type="text" name="inputFuncao" class="form-control" id="inputFuncao">
      </div>
      <div class="mb-3">
        <label for="inputExpProfissional" class="form-label">Resuma sua experiência profissional:</label>
        <textarea name="inputExpProfissional" id="inputExpProfissional" class="form-control"></textarea>
      </div>
      <button type="submit" class="button">Enviar inscrição</button>
    </form>    
  </div>
</section>
<section class="newsletter">
  <h2 class="standard-title">Assine nossa newsletter</h2>
  <p>Fique por dentro das novidades!</p>
  <form class="newsletter-form" action="">
    <input [(ngModel)]="emailInput" class="email-input" type="email" name="email" id=""
    placeholder="Digite seu e-mail">
    <button class="submit-button" type="submit" (click)="newsletterSubscribe(emailInput)">
      <div *ngIf="!ongoin(); then content else stoped"></div>
      <ng-template #content>
        <span>Assinar</span>
      </ng-template>
      <ng-template #stoped>
        <span class="spinner-border spinner-border-sm"></span>
      </ng-template>
    </button>
  </form>
  <div *ngIf="status() != 306" [ngSwitch]="status()">
    <ng-container *ngSwitchCase="201">
      <div class="alert alert-success">Incrição realizada com sucesso!
        <button (click)="closeAlert()" type="button" class="btn-close"></button>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="409">
      <div class="alert alert-warning">Este e-mail já está cadastrado
        <button (click)="closeAlert()" type="button" class="btn-close"></button>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="500">
      <div class="alert alert-warning">Estamos tendo problemas com o servidor. Tente novamente mais tarde
        <button (click)="closeAlert()" type="button" class="btn-close"></button>
      </div>
    </ng-container>
  </div>
</section>
<section class="parceiros-sc">
    <h2 class="standard-title">Parceiros</h2>
    <div class="container text-center">
        <div class="parceiros row">
          <div class="col">
            <img class="parceiros-item" src="../../../assets/parceiros/SEDA-COLLEGE.png" alt="">
          </div>
          <div class="col">
            <img class="parceiros-item" src="../../../assets/parceiros/Viva-Rio.webp" alt="">
          </div>
          <div class="col">
            <img class="parceiros-item" src="../../../assets/parceiros/CIDADE-INTEGRADA.png" alt="">
          </div>
          <div class="col">
            <img class="parceiros-item" src="../../../assets/parceiros/instiituto-da-crianca.png" alt="">
          </div>
        </div>
      </div>
</section>