<app-page-cover></app-page-cover>
<section class="white-bg" id="sobre">
    <h2 class="standard-title black-text">Quem somos</h2>
    <div class="about-container">
        <p class="standard-paragraph black-text">Bem-vindo à Pavão-Pavãozinho, uma ONG enraizada na comunidade do Rio de Janeiro, Brasil, comprometida em transformar vidas por meio do jiu-jítsu e yoga. Nossa missão vai além do tatame, buscamos formar caráter e inspirar futuros brilhantes.</p>
        <p class="standard-paragraph black-text">Na Pavão-Pavãozinho, acreditamos no poder transformador do esporte. Oferecemos aulas de jiu-jítsu e yoga para crianças e adultos, visando não apenas o desenvolvimento físico, mas também a construção de valores sólidos. Buscamos moldar não apenas atletas habilidosos, mas cidadãos comprometidos e resilientes.</p>
    </div>
</section>
<section class="black-bg" id="projetos">
    <h2 class="standard-title white-text">Nossos Projetos</h2>
    <div class="projects-container">
        <app-project-card title="Aulas de Jiu-Jitsu" cover="assets/jiu-jitsu.jpg"></app-project-card>
        <app-project-card title="Aulas de Yoga" cover="assets/ioga.jpg"></app-project-card>
    </div>
</section>
<section class="white-bg" id="colabore">
    <div class="colabore-container">
        <div class="text-div">
            <h2 class="standard-title black-text">Nos ajude a transformar vidas</h2>
            <p class="standard-paragraph black-text">A Pavãozinho depende da generozidade de pessoas que querem ver a mudança acontecer para continuar impactando vidas através dos projetos. Venha fazer parte!</p>
        </div>
        <div class="colabore-cards">
            <app-colaborate-card title="Faça uma doação de qualquer valor"
            paragraph="Ajude à Pavãozinho custear suas atividades e continuar impactando vidas."
            btnTitle="Doar" link="https://www.paypal.com/donate/?hosted_button_id=QXESBRFF9WWEL"
            ></app-colaborate-card>
            <app-colaborate-card title="Venha fazer parte do nosso time"
            paragraph="Venha contribuir com nosso time de talentos, fanzendo o projeto acontecer."
            btnTitle="Seja voluntário" link="https://www.atados.com.br/ong/projeto-social-jiu-jitsu-pavao-pavaozinho/vagas"
            ></app-colaborate-card>
        </div>
    </div>
</section>
<app-galery></app-galery>
<section class="white-bg newsletter">
  <h2 class="standard-title black-text">Assine nossa newsletter</h2>
  <p>Fique por dentro das novidades!</p>
  <form class="newsletter-form" action="">
    <input [(ngModel)]="emailInput" class="email-input" type="email" name="email" id=""
    placeholder="Digite seu e-mail">
    <button class="submit-button" type="submit" (click)="newsletterSubscribe(emailInput)">
      <div *ngIf="!ongoin(); then content else stoped"></div>
      <ng-template #content>
        <span>Assinar</span>
      </ng-template>
      <ng-template #stoped>
        <span class="spinner-border spinner-border-sm"></span>
      </ng-template>
    </button>
  </form>
  <div *ngIf="status() != 306" [ngSwitch]="status()">
    <ng-container *ngSwitchCase="201">
      <div class="alert alert-success">Incrição realizada com sucesso!
        <button (click)="closeAlert()" type="button" class="btn-close"></button>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="409">
      <div class="alert alert-warning">Este e-mail já está cadastrado
        <button (click)="closeAlert()" type="button" class="btn-close"></button>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="500">
      <div class="alert alert-warning">Estamos tendo problemas com o servidor. Tente novamente mais tarde
        <button (click)="closeAlert()" type="button" class="btn-close"></button>
      </div>
    </ng-container>
  </div>
</section>
<section class="white-bg">
    <h2 class="standard-title black-text">Parceiros</h2>
    <div class="container text-center">
        <div class="row">
          <div class="col">
            <img class="parceiros-item" src="../../../assets/parceiros/SEDA-COLLEGE.png" alt="">
          </div>
          <div class="col">
            <img class="parceiros-item" src="../../../assets/parceiros/Viva-Rio.webp" alt="">
          </div>
          <div class="col">
            <img class="parceiros-item" src="../../../assets/parceiros/CIDADE-INTEGRADA.png" alt="">
          </div>
          <div class="col">
            <img class="parceiros-item" src="../../../assets/parceiros/instiituto-da-crianca.png" alt="">
          </div>
        </div>
      </div>
</section>