section {
    padding: 75px 10%;
}

.white-bg {
    background-color: #FAF5F1;
}

.black-bg {
    background-color: #262626;
}

.about-container {
    display: flex;
    flex-direction: column;
    row-gap: 23px;
}

.projects-container {
    display: flex;
    justify-content: space-around;
}

.colabore-container {
    width: 90%;
    text-align: center;
}

.colabore-cards {
    display: flex;
    gap: 40px;
    margin-top: 30px;
    align-items: center;
}

.parceiros-item {
    width: 150px;
}

.newsletter {
    text-align: center;
    padding-bottom: 0;
}

.newsletter-form {
    display: flex;
    justify-content: center;
    gap: 10px
}

.email-input {
    padding: 5px 10px;
    border: 1px solid #262626;
    background-color: transparent;
}

.submit-button {
    border: none;
    text-transform: uppercase;
    background-color: #262626;
    color: #FAF5F1;
    border-radius: 10px;
    width: 115px;
    padding: 15px;
}

.alert {
    margin-top: 15px;
    margin-bottom: 0;
}

@media screen and (max-width: 800px) {
    section {
        padding: 100px 5%;
    }

    .projects-container {
        flex-direction: column;
        text-align: center;
        gap: 34px;
    }

    .colabore-cards {
        flex-wrap: wrap;
    }

    .newsletter-form {
        flex-direction: column;
    }
}