.banner-home {
    background-image: url("../../../assets/home-cover.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.banner-filter {
    background: rgba(38, 38, 38, 0.46);
    height: 90vh;
    display: flex;
    align-items: center;
}

.banner-title {
    color: #FBF5F1;
    font-weight: 700;
    margin: auto;
}

@media screen and (max-width: 1000px) {
    .banner-filter {
        padding: 0 0;
    }
}

@media screen and (min-width: 400px) {
    .banner-title {
        font-size: 50px;
    }
}