.banner-home {
    background-image: url("../../../assets/home-cover.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.banner-filter {
    background: rgba(38, 38, 38, 0.46);
    height: 90vh;
    display: flex;
    align-items: center;
}

.banner-title {
    color: #FBF5F1;
    font-weight: 800;
    margin: auto;
    font-family: var(--primaria);
    font-size: 48px;
    width: 30%;
}

.banner-title span {
    color: var(--cardinal);
    font-family: var(--primaria);
}

@media screen and (max-width: 1000px) {
    .banner-filter {
        padding: 0 0;
    }
}

@media screen and (max-width: 480px) {
    .banner-title {
        font-size: 35px;
        width: 100%;
        padding: 0 1rem;
    }
}

@media screen and (max-width: 340px) {
    .banner-title {
        font-size: 30px;
    }
}

@media screen and (max-width: 300px) {
    .banner-title {
        font-size: 25px;
    }
}

@media screen and (max-width: 250px) {
    .banner-title {
        font-size: 20px;
    }
}