<section>
    <div class="colabore-div">
        <div class="text-div">
            <app-section-title title="Nos ajude a transformar vidas" newColor="#262626"></app-section-title>
            <app-section-paragraph content="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error dolor quidem earum nostrum. Amet dicta odio necessitatibus facilis impedit perferendis ipsa eligendi? At, molestiae non quis eveniet omnis quod quo."></app-section-paragraph>
        </div>
        <div class="cards">
            <app-colaborate-card title="Faça uma doação de qualquer valor"
            paragraph="Ajude à Pavãozinho custear suas atividades e continuar impactando vidas."
            btnTitle="Doar" link="doacao"
            ></app-colaborate-card>
            <app-colaborate-card title="Venha fazer parte do nosso time"
            paragraph="Venha contribuir com nosso time de talentos, fanzendo o projeto acontecer."
            btnTitle="Seja voluntário" link="voluntariado"
            ></app-colaborate-card>
        </div>
    </div>
</section>