section {
    padding: 150px 10%;
    background: #FAF5F1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.colabore-div {
    width: 70%;
    text-align: center;
}

@media screen and (max-width: 800px) {
    section {
        font-size: 18px;
    }
}