<section>
    <div class="colabore-div">
        <app-section-title title="Nos ajude a transformar vidas" newColor="#262626"></app-section-title>
        <app-section-paragraph content="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error dolor quidem earum nostrum. Amet dicta odio necessitatibus facilis impedit perferendis ipsa eligendi? At, molestiae non quis eveniet omnis quod quo."></app-section-paragraph>
        <br>
        <app-button title="Doar" fontColor="#FFF" bgColor="#262626"></app-button>
    </div>
</section>